<div class="login-block">
    <div class="reg-head">
        <h2 class="reg-title"><span>Увійти</span></h2>
        <button class="close-btn">&times;</button>
    </div>
    <hr class="reg-divider">
    {% if login_form %}
    <form method="post" class="reg-form">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="{{ login_form.username.id_for_label }}">Ім'я користувача</label>
            {{ login_form.username }}
            {% if login_form.errors %}
            {{ login_form.username.errors }}
            {% endif %}
        </div>
        <div class="form-group">
            <label class="form-label" for="{{ login_form.password1.id_for_label }}">Пароль</label>
            {{ login_form.password }}
            {% if login_form.errors %}
            {{ login_form.password.errors }}
            {% endif %}
        </div>
        <button type="submit" class="form-btn">Login</button>
    </form>
    {% endif %}
</div>