<div class="reg-block">
    <div class="reg-head">
        <h2 class="reg-title"><span>Реєстрація</span></h2>
        <button class="close-btn">&times;</button>
    </div>
    <hr class="reg-divider">
    <form class="reg-form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="{{ register_form.username.id_for_label }}">Ім'я користувача</label>
            {{ register_form.username }}
            {% if register_form.errors %}
            {{ register_form.username.errors }}
            {% endif %}
        </div>
        <div class="form-group">
            <label class="form-label" for="{{ register_form.email.id_for_label }}">Електронна пошта</label>
            {{ register_form.email }}
            {% if register_form.errors %}
            {{ register_form.email.errors }}
            {% endif %}
        </div>
        <div class="form-group">
            <label class="form-label" for="{{ register_form.password1.id_for_label }}">Пароль</label>
            {{ register_form.password1 }}
            {% if register_form.errors %}
            {{ register_form.password1.errors }}
            {% endif %}
        </div>
        <div class="form-group">
            <label class="form-label" for="{{ register_form.password2.id_for_label }}">Підтвердити пароль</label>
            {{ register_form.password2 }}
            {% if register_form.errors %}
            {{ register_form.password2.errors }}
            {% endif %}
        </div>
        <button type="submit" class="form-btn">Зареєструватися</button>
    </form>
</div>