<!doctype html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'events/css/main.css' %}">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">Назва сайту</div>
        <div class="nav-container">
            <a href="#">Усі події</a>
            <a href="#">Контакти</a>
            <a href="#">Про проєкт</a>
            <a class="login" href="#">Увійти</a>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Назва компанії. Усі права захищені.</p>
    </footer>
</div>
<div class="reg-block"></div>
<div class="reg-form"></div>
<script src="{% static 'events/js/registration.js' %}"></script>
</body>
</html>