* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
    text-decoration: none;
}

body {
  background: rgb(145, 234, 228);
  background: linear-gradient(38deg, rgba(145, 234, 228, 1) 7%, rgba(134, 168, 231, 1) 51%, rgba(127, 127, 213, 1) 90%);
  height: 100hv;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.nav-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-container a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-container a:hover {
  background-color: #3700ae;
  color: #fff;
}

.nav-container .login, .nav-container .register, .nav-container .event {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

main{
    padding: 80px 0 0 0;
}